<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Svastha Bharat</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Svastha Bharat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Know More About Corona
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/symptoms">Corona Symptoms/Precautions</a>
          <a class="dropdown-item" href="/covid">Diffrence between Flu and Corona</a>
          <a class="dropdown-item" href="/table">Live Info About Covid-19</a>
        </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Abous Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<style>
 h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 50%;
  margin-left: 10px;
  table-layout: relative;
  border:2px solid rgba(0,0,0,0.7);
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(0,0,0,0.7)
}
.tbl-content {
  height: 100%;
  overflow-x: hidden;
  margin-top: 0px;
  border: 2px solid rgba(255,255,255,0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0,0,0);
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0,0,0);
  border: 2px solid rgba(0,0,0,0.7);
}
h1{
font-family:cursive;
    font-size: 45px;
color: white;
top:62%;}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400, 500, 300, 700);
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
}
section {
  margin: 50px;
}
img {
  opacity: 1.0;
  float:right;
margin-top:5%;
margin-right:7%;

width:400px;
height:400px;

}

</style>
<body>
  <h1>Covid 19 Live Tracker</h1>
 <div> <table>
<thead>
<tr><th style="text-align: left;"> <strong> Sr.No</strong></th><th><strong>States/UT</strong>                  </th><th style="text-align: left;"><strong>  Confirmed</strong></th><th style="text-align: left;">  <strong>Recovered</strong></th><th style="text-align: left;"><strong>  Deceased</strong></th></tr>
</thead>
<tbody>
<tr><td style="text-align: left;">   1</td><td>Andhra Pradesh             </td><td style="text-align: left;">        381</td><td style="text-align: left;">         11</td><td style="text-align: left;">         6</td></tr>
<tr><td style="text-align: left;">   2</td><td>Andaman and Nicobar Islands</td><td style="text-align: left;">         11</td><td style="text-align: left;">         10</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   3</td><td>Arunachal Pradesh          </td><td style="text-align: left;">          1</td><td style="text-align: left;">          0</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   4</td><td>Assam                      </td><td style="text-align: left;">         29</td><td style="text-align: left;">          0</td><td style="text-align: left;">         1</td></tr>
<tr><td style="text-align: left;">   5</td><td>Bihar                      </td><td style="text-align: left;">         63</td><td style="text-align: left;">          0</td><td style="text-align: left;">         1</td></tr>
<tr><td style="text-align: left;">   6</td><td>Chandigarh                 </td><td style="text-align: left;">         19</td><td style="text-align: left;">          7</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   7</td><td>Chhattisgarh               </td><td style="text-align: left;">         18</td><td style="text-align: left;">          9</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   8</td><td>Delhi                      </td><td style="text-align: left;">       1069</td><td style="text-align: left;">         25</td><td style="text-align: left;">        19</td></tr>
<tr><td style="text-align: left;">   9</td><td>Goa                        </td><td style="text-align: left;">          7</td><td style="text-align: left;">          5</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   10</td><td>Gujarat                    </td><td style="text-align: left;">        432</td><td style="text-align: left;">         44</td><td style="text-align: left;">        22</td></tr>
<tr><td style="text-align: left;">   11</td><td>Haryana                    </td><td style="text-align: left;">        177</td><td style="text-align: left;">         29</td><td style="text-align: left;">         3</td></tr>
<tr><td style="text-align: left;">   12</td><td>Himachal Pradesh           </td><td style="text-align: left;">         32</td><td style="text-align: left;">          6</td><td style="text-align: left;">         1</td></tr>
<tr><td style="text-align: left;">   13</td><td>Jammu and Kashmir          </td><td style="text-align: left;">        207</td><td style="text-align: left;">          6</td><td style="text-align: left;">         4</td></tr>
<tr><td style="text-align: left;">   14</td><td>Jharkhand                  </td><td style="text-align: left;">         17</td><td style="text-align: left;">          0</td><td style="text-align: left;">         1</td></tr>
<tr><td style="text-align: left;">   15</td><td>Karnataka                  </td><td style="text-align: left;">        214</td><td style="text-align: left;">         37</td><td style="text-align: left;">         6</td></tr>
<tr><td style="text-align: left;">   16</td><td>Kerala                     </td><td style="text-align: left;">        364</td><td style="text-align: left;">        123</td><td style="text-align: left;">         2</td></tr>
<tr><td style="text-align: left;">   17</td><td>Ladakh                     </td><td style="text-align: left;">         15</td><td style="text-align: left;">         10</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   18</td><td>Madhya Pradesh             </td><td style="text-align: left;">        532</td><td style="text-align: left;">          0</td><td style="text-align: left;">        36</td></tr>
<tr><td style="text-align: left;">   19</td><td>Maharashtra                </td><td style="text-align: left;">       1761</td><td style="text-align: left;">        208</td><td style="text-align: left;">       127</td></tr>
<tr><td style="text-align: left;">   20</td><td>Manipur                    </td><td style="text-align: left;">          2</td><td style="text-align: left;">          1</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   21</td><td>Mizoram                    </td><td style="text-align: left;">          1</td><td style="text-align: left;">          0</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   22</td><td>Odisha                     </td><td style="text-align: left;">         50</td><td style="text-align: left;">          2</td><td style="text-align: left;">         1</td></tr>
<tr><td style="text-align: left;">   23</td><td>Puducherry                 </td><td style="text-align: left;">          7</td><td style="text-align: left;">          1</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   24</td><td>Punjab                     </td><td style="text-align: left;">        151</td><td style="text-align: left;">          5</td><td style="text-align: left;">        11</td></tr>
<tr><td style="text-align: left;">   25</td><td>Rajasthan                  </td><td style="text-align: left;">        700</td><td style="text-align: left;">         21</td><td style="text-align: left;">         3</td></tr>
<tr><td style="text-align: left;">   26</td><td>Tamil Nadu                 </td><td style="text-align: left;">        969</td><td style="text-align: left;">         44</td><td style="text-align: left;">        10</td></tr>
<tr><td style="text-align: left;">   27</td><td>Telengana                  </td><td style="text-align: left;">        504</td><td style="text-align: left;">         43</td><td style="text-align: left;">         9</td></tr>
<tr><td style="text-align: left;">   28</td><td>Tripura                    </td><td style="text-align: left;">          2</td><td style="text-align: left;">          0</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   29</td><td>Uttarakhand                </td><td style="text-align: left;">         35</td><td style="text-align: left;">          5</td><td style="text-align: left;">         0</td></tr>
<tr><td style="text-align: left;">   30</td><td>Uttar Pradesh              </td><td style="text-align: left;">        452</td><td style="text-align: left;">         45</td><td style="text-align: left;">         5</td></tr>
<tr><td style="text-align: left;">   31</td><td>West Bengal                </td><td style="text-align: left;">        134</td><td style="text-align: left;">         19</td><td style="text-align: left;">         5</td></tr>
</tbody>
<div>
<img src="{{user_image}}">
</div>

</table>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>